<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
        <meta content="Victor Pinto" name="author"/>      
        <link href="/css/index.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="/img/favicon.ico"/>
        <title>Panel de control de administradores</title>  
    </head>

    <body>
        

            <p>ADMIN</p>



    </body>
</html>
