<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
     <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
         
          <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            
              
              <ul class="navbar-nav">
<!--                  <li class="nav-item">
                      <li sec:authorize="hasAnyRole('ADMIN')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">Administrar</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown08">
                        <li><a class="dropdown-item" >Shows</a></li>
                        <li><a class="dropdown-item" >talleres</a></li>
                        <li><a class="dropdown-item" >#####</a></li>
                    </ul>-->
                    <li class="nav-item">
                        <a class="nav-link "  th:href="@{/main}">Home</a>
                    </li>
                      
                  </li>
                  
               
            </ul>
              
               <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
             
<!--                    <a id="dropdown08" class="nav-link dropdown-toggle btn btn-outline-success" data-bs-toggle="dropdown" aria-expanded="false" ></a>-->

                     <a sec:authorize="isAuthenticated()" id="dropdown08" class="nav-link dropdown-toggle btn btn-outline-success" data-bs-toggle="dropdown" aria-expanded="false" <spam   th:if="${session.customersession != null}" th:text="${session.customersession.fullName}" ></spam></a>
                    <ul class="dropdown-menu " aria-labelledby="dropdown08">
                        <li><a th:href="@{/customer/profile}" class="dropdown-item">Perfil</a></li>
                        <li><a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/panel}">Administrar pagina</a></li>
                        <li><a class="dropdown-item" sec:authorize="hasRole('ROLE_TEACHER')" th:href="@{/teacher/panel}">crear publicacion</a></li>
                        <form  th:action="@{/logout}" method="post">
                            <button class="dropdown-item" type="submit">Cerrar Sesion</button>                
                        </form>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/customer/form}">Sign Up</a></li>
                <li class="nav-item"><a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/login/login}">Log In</a></li>
                
            </ul>
        </div>
         
     </div>
</nav>